@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

section {
    padding: 100px 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.bnw {
    filter: grayscale(100%);
}

/* Top Bar */

.top-bar {
    background: #C3C3C3;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar p {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.595px;
    text-transform: uppercase;
}

/* Hero Section */

.hero-section {
    background: #000;
    position: relative;
}

.hero-head {
    color: #EDEFF4;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 70.4px;
    /* 110% */
}

.hero-para {
    color: #B2B8CC;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 31.2px;
    /* 130% */
    letter-spacing: 0.24px;
}

.hero-btn {
    border: unset;
    outline: unset;
    padding: 0.5em 1em;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25.2px;
    /* 140% */
    letter-spacing: 0.09px;
}

.hero-prop{
    position: absolute; 
    right: -100px;
    bottom: -50px
}

/* Tokenomics Section */

.tokenomics {
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
}

.tokenomic-card {
    border-radius: 31px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: rgba(240, 240, 240, 0.18);
    backdrop-filter: blur(5px);
    text-align: center;
    padding: 1em;
    height: 100%;
}

.tokenomic-img {
    margin: 20px 0;
}

.tokenomic-head {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 31.2px;
    /* 130% */
    letter-spacing: 0.18px;
}

.tokenomic-para {
    color: #4C4C4C;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    /* 150% */
    letter-spacing: 0.18px;
}

.tokenomics-prop-1 {
    position: absolute;
    bottom: -400px;
    width: 50%;
    left: -20%;
}

/* About */

.about {
    background: #000;
    position: relative;
    background: url('./images/about/bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}

.black-wrapper {
    background: rgba(0, 0, 0, 0.6);
    padding: 100px 0;
}

.speed-wrapper {
    border-radius: 31px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px);
    padding: 1.5em;
}

.about-head {
    color: #F7F8FA;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 57.6px;
    /* 240% */
    letter-spacing: -0.52px;
}

.about-para {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    /* 150% */
    letter-spacing: 0.09px;
}

/* Fastest Blockchain Section */

.fastest-blockchain-section {
    background: url('./images/fastest-bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}

.fastest-blockchain-head {
    color: #EDEFF4;
    text-align: center;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 70.4px;
    /* 207.059% */
}

.fastest-blockchain-para {
    color: #B2B8CC;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 31.2px;
    /* 130% */
    letter-spacing: 0.24px;
}

.fastest-blockchain-card-para {
    color: #B2B8CC;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    /* 150% */
    letter-spacing: 0.09px;
    margin-top: 20px
}

/* Solutions Section */

.solutions-head {
    color: #000;
    font-family: Inter;
    font-size: 47.813px;
    font-style: normal;
    font-weight: 700;
    line-height: 57.6px;
    /* 120.471% */
    letter-spacing: -0.52px;
}

.solutions-para {
    color: #4C4C4C;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    /* 150% */
    letter-spacing: 0.09px;
}

/* Authentication section */

.authentication-section {
    background: #000;
}

.authentication-head {
    color: #F7F8FA;
    font-family: Inter;
    font-size: 47.813px;
    font-style: normal;
    font-weight: 700;
    line-height: 57.6px;
    /* 120.471% */
    letter-spacing: -0.52px;
}

.authentication-para {
    color: #B2B8CC;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    /* 150% */
    letter-spacing: 0.09px;
}

/* Tia Ai Section */

.tia-ai-head {
    color: #000;
    font-family: Inter;
    font-size: 47.813px;
    font-style: normal;
    font-weight: 700;
    line-height: 57.6px;
    /* 120.471% */
    letter-spacing: -0.52px;
}

.tia-ai-para {
    color: #4C4C4C;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25.2px;
    /* 140% */
    letter-spacing: 0.18px;
}

/* Partners Section */

.partners-section {
    background: #000;
}

.partners-head {
    color: #EDEFF4;
    text-align: center;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 70.4px;
    /* 207.059% */
}

.partners-para {
    color: #B2B8CC;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 31.2px;
    /* 130% */
    letter-spacing: 0.24px;
}

/* Final Section */

.final-head-1 {
    font-family: Inter;
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: -0.5199999809265137px;
    text-align: left;
    color: #C3C3C3;
}

.final-head-2 {
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.7200000286102295px;
    text-align: left;
    color: #EDEFF4;
}

.final-para {
    font-family: Inter;
    font-size: 24px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0.18000000715255737px;
    text-align: left;
    color: #EDEFF4;
}

/* footer nav */

footer {
    border-bottom: 1px solid #343C4D;
    background: rgba(18, 22, 30, 0.65);
    backdrop-filter: blur(15px);
    padding: 20px 0 10px 0;
}

.footer-item {
    color: #F7F8FA !important;
    font-family: Inter !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 300 !important;
    line-height: 19.2px !important;
    /* 120% */
    letter-spacing: 0.32px !important;
    text-transform: uppercase !important;
    transition: 0.3s !important;
}

.footer-item:hover{
    color: #000 !important;
    cursor: pointer !important;
    text-decoration: none !important;
}

.uni-btn {
    border-radius: 6px !important;
    border: 2px solid #C3C3C3 !important;
    margin-top: -8px !important;
    background: transparent !important;
    color: #C3C3C3 !important;
}

.uni-btn:hover{
    background-color: #C3C3C3 !important;
    color: #000 !important;
}

@media only screen and (max-width: 700px) {

    section{
        padding: 50px 0;
    }

    .top-bar p {
        font-size: 11px;
    }

    .hero-section{
        padding: 100px 0;
    }

    .hero-head{
        font-size: 45px;
        line-height: 50.4px;
        margin-top: 30px;
    }

    .hero-para{
        font-size: 18px;
        line-height: 25.2px;
    }

    .hero-prop{
        right: -50px;
        bottom: -50px;
        width: 70vw;
    }

    .hero-btn{
        font-size: 15px;
    }

    .tokenomic-card{
        height: unset;
        margin-bottom: 30px;
    }

    .fastest-blockchain-head {
        font-size: 24px;
        line-height: 40.4px;
    }

    .fastest-blockchain-para {
        font-size: 18px;
    }

    .fastest-blockchain-card-para{
        font-size: 15px;
    }

    .solutions-head{
        font-size: 34px;
        line-height: 47.6px;
    }

    .solutions-para {
        font-size: 15px;
        line-height: 22px;
    }
    .authentication-head{
        font-size: 34px;
        line-height: 47.6px;
        margin-top: 40px;
    }

    .authentication-para {
        font-size: 15px;
        line-height: 22px;
    }
    .tia-ai-head{
        font-size: 34px;
        line-height: 47.6px;
    }

    .tia-ai-para {
        font-size: 15px;
        line-height: 22px;
    }

    .final-head-1{
        font-size: 34px;
    }

    .final-head-2 {
        font-size: 34px;
        margin-top: -20px !important;
    }

    .final-para {
        font-size: 18px;
        margin-top: -10px !important;
    }
  }